.order-payment {

    .info{
        .method{
            div{
                padding: 10px 0;
            }
            .method-radio{
                margin-left: 10px;
            }
        }
    }

    .caculater {
        span{
            display: block;
        }
        // text-align: right;

        .price-text {
            width: 100%;
            font-size: 24px;
            color: #ff3945;
            font-weight: 600;
            text-align: right;
        }
    }

    .btn {
        background: #ff3945;
        width: 100%;
        padding: 16px 0;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;

        &:hover {
            cursor: pointer;
            background: rgba($color: #ff3945, $alpha: 0.85);
        }
    }
}